<?xml version="1.0" encoding="utf-8" standalone="no"?>
<dublin_core schema="local">
  <dcvalue element="additional" qualifier="metadata"></dcvalue>
  <dcvalue element="has" qualifier="files">false</dcvalue>
</dublin_core>
